{% extends 'baseLogin.html.twig' %}

{% block title %}Era94 - EraTime{% endblock %}

{% block body %}
<div class="wrapper" id="content">
	<div class="row">
		<form action="{{ path('app_change_password_api')}}" method="post" class="col-sm-5 col-md-4 col-lg-3 box" id="loginForm" data-validate="parsley" autocomplete="off">
			<div class="header">
				<h4>Changer de mot de passe</h4>
			</div>
            <div>
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
			<div class="form-group">
				<input type="password" name="newPassword" id="inputPassword" class="form-control parsley-validated" autocomplete="new-password" required autofocus placeholder="Nouveau mot de passe">
			</div>
            <ul class="help-block" id="help-block">
                <li>Doit avoir une longueur d'au moins 8 caractères.</li>
                <li>Doit contenir au moins une lettre majuscule.</li>
                <li>Doit contenir au moins une lettre minuscule.</li>
                <li>Doit contenir au moins un chiffre.</li>
            </ul> 
			<div class="form-group">
				<input type="password" name="validatePassword" id="inputPassword" class="form-control parsley-validated" autocomplete="validate-password" required placeholder="Vérification mot de passe">
			</div>
			<div class="footer">
				<input type="submit" value="Changer de mot de passe" class="btn btn-primary"/>
	        </div>
		</form>
		<a href="{{ path('app_home') }}"><button class="btn btn-default">Revenir à la page d'accueil</button></a>
	</div>
</div>
{% endblock %}
