{% if app.user %}
    <nav class="nav-mobile">
        <div class="conteneur-nav">
            <label class="main-menu-era94" for="mobile">Menu</label>
            <input type="checkbox" id="mobile" role="button">
            <ul style="padding-left: 0px">
                <li><a href="{{ path('app_user') }}"><span class="glyphicon glyphicon-user mobile-icon"></span>Personnel</a></li>
                {% set date = date('now') %}
                {% set year = date.format('Y') %}
                {% set monthnb = date.format('m') %}
                {% set id = id() %}
                <li class='nav-link'><a href="{{ path('app_holiday', {'year': year, 'monthnb': monthnb, 'section': 'holidays', 'userId': id}) }}" class='nav-link'><span class="glyphicon glyphicon-plane"></span>Congés</a></li>

                {% if 'Support' in app.user.category or 'Administrateur' in app.user.category %}
                    <li><a href="{{ path('app_parameters') }}"><span class="glyphicon glyphicon-wrench"></span>Paramètres</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endif %}