<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
        <nav class="main-menu main-menu-era94 hidden-xs" style="z-index: 4">
            <ul class="nav">
                {% if app.user %}
                    <li class='nav-link'><a href="{{ path('app_user') }}" class='nav-link'><span class="glyphicon glyphicon-user"></span>Personnel</a></li>
                    {% set date = date('now') %}
                    {% set year = date.format('Y') %}
                    {% set monthnb = date.format('m') %}
                    {% set id = id() %}
                    <li class='nav-link'><a href="{{ path('app_holiday', {'year': year, 'monthnb': monthnb, 'section': 'holidays', 'userId': id}) }}" class='nav-link'><span class="glyphicon glyphicon-plane"></span>Congés</a></li>

                    {% if 'Support' in app.user.category or 'Administrateur' in app.user.category %}
                        <li><a href="{{ path('app_parameters') }}"><span class="glyphicon glyphicon-wrench"></span>Paramètres</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
</div>